{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <p class='green'><em>The person was saved successfully</em></p>

    <table  class='table table-striped'border='1' style="width:50%">
      <tr>
        <th>Name</th>
        <th>Hobby</th>
      </tr>


      {% for people in peopleArray %}
      <tr>
      <td>{{people.name}}</td>
      <td>{{people.hobby}}</td>
      </tr>
      {% endfor %}

    </table>

<!--     {% for people in peopleArray %}
          {% if loop.first %}<ol>{% endif %}
          <li><strong>Person Name: </strong>{{ people.name }} <strong>Person Hobby : </strong>{{ people.hobby}}</li>
          {% if loop.last %}</ol>{% endif %}
        {% endfor %}
 -->



  </div>



{% endblock %}
