{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <p class='green'><em>The puppy was saved successfully</em></p>

    <table  class='table table-striped'border='1' style="width:50%">
      <tr>
        <th>Puppy Name</th>
        <th>Puppy ID</th>
      </tr>


      {% for puppy in puppyArray %}
      <tr>
      <td>{{puppy.name}}</td>
      <td>{{puppy.id}}</td>
      </tr>
      {% endfor %}

    </table>



  </div>



{% endblock %}
